<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu </string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Hán tự 1</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>HiepHN</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Hán tự 2</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>HiepHN</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Bảng chữ cái Hiragana</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Bảng chữ cái Katakana</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 1</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 2</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 3</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Hán tự 4</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 4</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 5</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 6</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 7</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 8</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
    <dict>
		<key>courseId</key>
		<string>123456789</string>
		<key>courseName</key>
		<string>Cấu trúc câu 9</string>
		<key>createdTime</key>
		<string>22:00 03/10/2015</string>
		<key>owner</key>
		<string>Đặng Minh Thành</string>
		<key>status</key>
		<string>privacy</string>		
	</dict>
</array>
</plist>
